* {
  font-family: "Poppins-Regular", Helvetica;
}

html{
  scroll-behavior: smooth;
}

input.input-error{
  border-bottom: 1px solid red;
}
select.input-error{
  border-bottom: 1px solid red;
}
.input:focus{
  display: none;
}
.placeholder:focus{
  display: none;
}
.palceholder>label:focus{
  display: none;
}
select.input-error option.opt{
color: red;
}
.after-opt >p::after{
  content: "para";
}

/* home page*/

/* home banner */

.hero {
  width: 100%;
}

/*.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/*.banner-text {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 82px;
  font-family: "Poppins-Medium", Helvetica;
}*/

.banner-text {
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: white;
  top: 260px;
  left: 530px;
}

.banner-text h1, h3 {
  position: relative;
  font-family: "Poppins-Medium", Helvetica;
}

.banner-text h1 {
  font-size: 40px;
}
 /* home body */

.home-s2 p {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #676767;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  margin-top: 90px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 80px 300px;
}

.icon-container {
  text-align: center;
}

.icon-title h2 {
  color: #676767;
}

.icon img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.icon-container button {
  background-color: #31708A;
  color: #fff;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

/*.containers-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

 /* most recent posts section */

.home-s3 {
  background: linear-gradient(180deg, rgb(49, 112, 138) 0%, rgb(128, 171, 165) 100%);
  height: 380px;
}

.recent h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.post-row {
  margin: 30px 150px 20px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.posts {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 0px 54px 2px #00000026;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.top-half {
  margin-bottom: 10px;
  padding: 10px 20px;
}

.bold-text {
  font-weight: bold;
  margin-right: 50px;
  color: #676767;
}

.bottom-half button {
  background-color: #80aba5;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.bottom-half {
  padding-bottom: 20px;
}








/* clinical data */

/* banner */

.clin-banner-text {
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: white;
  top: 200px;
  left: 240px;
}

.clin-banner-text h1, h3 {
  position: relative;
  font-family: "Poppins-Medium", Helvetica;
}

.clin-banner-text h1 {
  font-size: 35px;
}

.clin-banner-text h3 {
  font-size: 19px;
}

/* top screen menu */

.topscreen-btns .med-menu .buttons-row {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.topscreen-btns .med-menu .buttons-row button {
  border: 1px solid;
  border-color: #676767;
  border-radius: 23.5px;
  background-color: transparent;
  color: #676767;
  padding: 5px 20px;
  font-size: 14px;
  margin: 15px;
}

.topscreen-btns .med-menu .buttons-row button:hover {
  background-color: #80aba5;
  color: white;
}

.topscreen-btns .med-description {
  color: #676767;
  margin-top: 35px;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  line-height: 25px;
}

.topscreen-btns .med-description p {
  display: inline-block;
  text-align: left;
}

.topscreen-btns .med-description p span {
  font-weight: bold;
}

/* data boxes */

.data-boxes .container-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.data-boxes .container-row .box {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #67676708;
  box-shadow: 0px 4px 30px 1px #00000026;
  margin: 40px;
  text-align: center;
}

.data-boxes .container-row .box h2, p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.data-boxes .container-row .box .line-one {
  font-size: 10px;
  color: #6767679e;
}

.data-boxes .container-row .box .line-two {
  font-size: 17px;
  color: #00070b;
  font-weight: bold;
}

.data-boxes .container-row .box .line-three {
  font-size: 12px;
  color: #676767;
}

.data-boxes .container-row .box .line-four {
  font-size: 12px;
  color: #676767;
  float: left;
  margin-top: 30px;
}

.data-boxes .container-row .box button {
  background-color: #D9D9D9;
  border-radius: 18px;
  color: black;
  padding: 5px 20px;
  border: none;
  float: right;
  margin: 10px;
}










 /* IIT */

 /* banner */

 /*.pagetitle-inv .container {
  background: linear-gradient(180deg, rgb(123, 160, 155) 0%, rgb(49, 112, 138) 100%);
  height: 215px;
  padding: 0;
  background-size: 100%;
  height: 215px;
  background-repeat: no-repeat;
  margin: 0 0 0;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.pagetitle-text {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 80px;
}

.pagetitle-text h1 {
  font-size: 22px;
  font-weight: 700;
}*/

.pagetitle-inv .pagetitle-text {
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: white;
  top: 200px;
  left: 300px;
}

.pagetitle-text h1, h3 {
  position: relative;
  font-family: "Poppins-Medium", Helvetica;
}

.pagetitle-text h1 {
  font-size: 35px;
}

/* form text */

.iit-section-one .iit-text .iit-header {
  margin: 50px 300px 50px 300px;
}

.iit-section-one .iit-text .iit-header h2 {
  text-align: left;
  font-weight: bold;
  color: #676767;
  font-size: 22px;
}

.iit-section-one .iit-text .iit-header p {
  text-align: left;
  color: #676767;
  font-size: 17px;
  line-height: 24px;
}

.iit-section-one .iit-text .iit-header h3 {
  text-align: left;
  font-weight: bold;
  color: #31708a;
  font-size: 20px;
}

/* form */

.iit-form {
  margin-left: 300px;
  margin-right: 300px;
}

.iit-form .form-input-rows .iit-col {
  margin-top: 20px;
  margin-bottom: 20px;
}

.iit-form .form-input-rows .iit-col input {
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  width: 100%;
  padding-top: 12px;
  margin: 5px 0;
}

.iit-form .form-input-rows .iit-col label {
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #676767;
  float: left;
  margin-right: 1em;
}

.iit-form .form-input-rows .iit-col select {
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #676767;
  padding-top: 5px;
  padding-bottom: 5px;
}

.iit-form .form-input-rows .iit-col #product-select {
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  width: 100%;
}

/* resume */

.resume-section {
  text-align: left;
  margin: 40px 0;
}

.resume-section h3 {
  font-weight: bold;
  color: #676767;
}

.resume-section h4 {
  margin-bottom: 15px;
}
.resume-section h4, h5 {
  color: #676767;
  font-weight: 100;
}

.resume-section h5 {
  margin-top: 5px;
}

.resume-section .resume-btn {
  border: 1px solid;
  border-color: #31708a;
  border-radius: 4px;
  color: #31708a;
  background-color: transparent;
  padding: 3px 22px;
  font-size: 15px;
}

/* submit */

.iit-form-submit {
  text-align: center;
}

.iit-form-submit button {
  background-color: #31708a;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 7px 70px;
  border: none;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 120px;
}








/* med info requests page */

/* banner */

/*.pagetitle-med .container {
  background: linear-gradient(180deg, rgb(123, 160, 155) 0%, rgb(49, 112, 138) 100%);
  height: 215px;
  padding: 0;
  background-size: 100%;
  height: 215px;
  background-repeat: no-repeat;
  margin: 0 0 0;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.pagetitle-text {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 80px;
}

.pagetitle-text h1 {
  font-size: 22px;
  font-weight: 700;
}*/

.med-pagetitle .medinfo-text {
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: white;
  top: 200px;
  left: 440px;
}

.medinfo-text h1 {
  font-size: 30px;
}

/* med info header */

.medinfo .medinfo-header {
  text-align: left;
  font-size: 15px;
  color: #31708a;
  margin: 70px 300px 45px;
}
 /* form */

 .med-form {
  margin-left: 300px;
  margin-right: 300px;
 }

.med-form .med-col {
  margin-bottom: 15px;
}

.med-form input {
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

.med-form label {
  color: #676767;
  font-size: 15px;
}

.med-form select {
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

/* medical inquiry section */

.textarea-header h2 {
  font-size: 21px;
  color: #31708a;
  margin-top: 50px;
}

.textarea-header h3 {
  color: #676767;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 45px;
}

textarea {
  resize: none;
  width: 100%;
  padding: 3px;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  height: 282px;
  margin-bottom: 40px;
}

/* checkbox and date */

.checkbox-info h3 {
  color: #676767;
  line-height: 22px;
  font-weight: 100;
  font-size: 15px;
}

.medform-row-submit {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.medform-row-submit .med-checkbox label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 20px;
}

.medform-row-submit .med-checkbox .med-box {
  margin-right: 5px;
  cursor: pointer;
}

.medform-row-submit .date-input {
  margin-left: 380px;
}

 /* submit */

.medinfo-submit {
  text-align: center;
}

.medinfo-submit button {
  background-color: #31708a;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 7px 70px;
  border: none;
  font-size: 17px;
  margin-top: 80px;
  margin-bottom: 120px;
}


/*.message{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.message >p{
  color: #6671ca;
}
/* .main-menu >li >a:visited{
  background-color: black;
}
.main-menu >li >a:active{
  background-color: yellowgreen;
} 
.main-menu li .active{
  background-color: #e9be65;
}
.item-holder{
  border: 1px solid #1E1E1E;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.option{
  padding-left: 15px;
  padding-bottom: 10px;
}
.option:hover{
  background-color: #6671ca;
}

.dropdownStar{
  width:170px !important;
  position:relative !important
}
.dropdownStar_sub{
  position:absolute !important;
  left:160px !important;
  top:10px !important;
  color:#459DC9 !important;
  font-weight:600 !important;
  font-size:20px !important;
}
.dropdownStar2{
  width:150px !important;
  position:relative !important
}
.dropdownStar_sub2{
  position:absolute !important;
  left:150px !important;
  top:10px !important;
  color:#459DC9 !important;
  font-weight:600 !important;
  font-size:20px !important;
}
.dropdownStar3{
  width:150px !important;
  position:relative !important
}
.dropdownStar_sub3{
  position:absolute !important;
  left:63px !important;
  top:10px !important;
  color:#459DC9 !important;
  font-weight:600 !important;
  font-size:20px !important;
}
@media screen and (max-width:600px) {
  .dropdownStar_sub3{
    left:60px !important;
  }
}
input[type=text]::-webkit-input-placeholder:after {
  content: '*';
  color: red;
}


.form-input-col6 input[type="number"]::-webkit-inner-spin-button{
  display: none;
}*/